In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
# load attrition_pop
attrition_pop = pd.read_csv('../data/data-HR-Employee-Attrition.csv')

attrition_pop

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

ex1: Sample 70 rows from attrition_pop using simple random sampling, setting the random seed to 18900217. Print the sample dataset, attrition_samp. What do you notice about the indices?

In [14]:
attrition_samp = attrition_pop.sample(70,random_state=18900217)
attrition_samp

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1134,35,No,Travel_Rarely,1349,Research & Development,7,2,Life Sciences,1,1601,...,4,80,1,1,5,2,1,0,0,1
1150,35,No,Travel_Rarely,819,Research & Development,18,5,Life Sciences,1,1621,...,4,80,0,16,2,3,16,15,1,10
531,32,No,Travel_Rarely,1018,Research & Development,3,2,Life Sciences,1,727,...,4,80,0,10,6,3,7,7,7,7
395,43,No,Travel_Frequently,313,Research & Development,21,3,Medical,1,525,...,1,80,1,8,1,3,3,2,1,2
392,54,No,Travel_Rarely,821,Research & Development,5,2,Medical,1,522,...,3,80,1,24,4,2,4,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,40,No,Travel_Rarely,1171,Research & Development,10,4,Life Sciences,1,483,...,3,80,1,10,3,3,7,7,1,7
1180,36,No,Travel_Rarely,311,Research & Development,7,3,Life Sciences,1,1659,...,3,80,0,15,4,3,4,3,1,3
230,52,No,Travel_Rarely,1323,Research & Development,2,3,Life Sciences,1,316,...,2,80,0,6,3,2,2,2,2,2
211,30,No,Non-Travel,829,Research & Development,1,1,Life Sciences,1,292,...,3,80,0,12,2,3,11,8,5,8
890,54,No,Travel_Frequently,966,Research & Development,1,4,Life Sciences,1,1245,...,1,80,1,33,2,1,5,4,1,4

ex2: Set the sample size to 70.
Calculate the population size from attrition_pop.
Calculate the interval between the rows to be sampled.Systematically sample attrition_pop to get the rows of the population at each interval, starting at 0; assign the rows to attrition_sys_samp.

In [15]:
sample_size = 70
population_size = len(attrition_pop)
print('Quy mÃ´ dÃ¢n sá»:', population_size)
interval = population_size // sample_size
attrition_sys_samp = attrition_pop.iloc[::interval]
attrition_sys_samp

Quy mÃ´ dÃ¢n sá»: 1470

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
42,26,Yes,Travel_Rarely,1357,Research & Development,25,3,Life Sciences,1,55,...,3,80,0,1,2,2,1,0,0,1
63,59,No,Travel_Rarely,1435,Sales,25,3,Life Sciences,1,81,...,4,80,0,28,3,2,21,16,7,9
84,34,No,Travel_Rarely,1153,Research & Development,1,2,Medical,1,110,...,3,80,0,5,2,3,5,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1365,29,Yes,Travel_Frequently,746,Sales,24,3,Technical Degree,1,1928,...,4,80,0,1,3,3,1,0,0,0
1386,26,No,Travel_Rarely,157,Research & Development,1,3,Medical,1,1952,...,4,80,0,8,6,2,7,7,7,6
1407,24,No,Travel_Rarely,771,Research & Development,1,2,Life Sciences,1,1981,...,2,80,0,4,2,2,4,3,1,2
1428,32,No,Travel_Rarely,234,Sales,1,4,Medical,1,2013,...,2,80,1,3,2,3,2,2,2,2
1449,32,No,Travel_Rarely,529,Research & Development,2,3,Technical Degree,1,2038,...,4,80,0,4,4,3,4,2,1,2

 ex3:	Get the proportion of employees by Education level from attrition_pop.
*	Use proportional stratified sampling on attrition_pop to sample 40% of each Education group, setting the seed to 2022.
*	Get the proportion of employees by Education level from attrition_strat.

In [16]:
proportion = attrition_pop['Education'].value_counts() / len(attrition_pop)
proportion

education_Prop_strat = attrition_pop.groupby('Education').sample(frac=0.4, random_state=2022)
education_Prop_strat_Edu = education_Prop_strat['Education'].value_counts() / len(education_Prop_strat)
print('PhÃ¢n phá»i tá»· lá» giÃ¡o dá»¥c trong máº«u:', education_Prop_strat_Edu)

PhÃ¢n phá»i tá»· lá» giÃ¡o dá»¥c trong máº«u: Education
3    0.389456
4    0.270408
2    0.192177
1    0.115646
5    0.032313
Name: count, dtype: float64

ex4: Create a list of unique JobRole values from attrition_pop, and assign to job_roles_pop
* Randomly sample four JobRole values from job_roles_pop.
* Subset attrition_pop for the sampled job roles by filtering for rows where JobRole is in job_roles_samp.
* Remove any unused categories from JobRole.
* For each job role in the filtered dataset, take a random sample of ten rows, setting the seed to 2022.

In [17]:
job_roles_pop = attrition_pop['JobRole'].unique()
job_roles_sample = np.random.choice(job_roles_pop, 4, replace=False)
attrition_samp = attrition_pop[attrition_pop['JobRole'].isin(job_roles_sample)]
attrition_samp['JobRole'] = pd.Categorical(attrition_samp['JobRole'], categories=job_roles_sample, ordered=True)
attrition_samp = attrition_samp.groupby('JobRole').apply(lambda x: x.sample(10, random_state=2022))
attrition_samp

C:\Users\TranNgocPhat\AppData\Local\Temp\ipykernel_13168\3481571733.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attrition_samp['JobRole'] = pd.Categorical(attrition_samp['JobRole'], categories=job_roles_sample, ordered=True)
C:\Users\TranNgocPhat\AppData\Local\Temp\ipykernel_13168\3481571733.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  attrition_samp = attrition_samp.groupby('JobRole').apply(lambda x: x.sample(10, random_state=2022))
C:\Users\TranNgocPhat\AppData\Local\Temp\ipykernel_13168\3481571733.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  attrition_samp = attrition_samp.groupby('JobRole').apply(lambda x: x.sample(10, random_state=2022))

                                Age Attrition     BusinessTravel  DailyRate  \
JobRole
Healthcare Representative 529    38        No      Travel_Rarely        827
                          1138   50        No  Travel_Frequently       1234
                          88     30        No      Travel_Rarely        288
                          715    33        No  Travel_Frequently        827
                          694    33        No      Travel_Rarely       1069
                          942    36        No      Travel_Rarely        325
                          1250   29        No  Travel_Frequently        461
                          1298   46       Yes      Travel_Rarely        261
                          284    26        No  Travel_Frequently        496
                          674    58        No      Travel_Rarely       1272
Manager                   858    53        No      Travel_Rarely       1223
                          936    45        No  Travel_Frequently        364
                          417    40        No      Travel_Rarely       1398
                          237    52        No         Non-Travel        771
                          701    53        No      Travel_Rarely       1376
                          112    54        No         Non-Travel        142
                          999    42        No      Travel_Rarely       1147
                          435    33       Yes      Travel_Rarely       1277
                          804    48        No         Non-Travel       1262
                          916    46        No      Travel_Rarely        168
Human Resources           1450   35        No      Travel_Rarely       1146
                          1246   30       Yes  Travel_Frequently        600
                          1312   31       Yes      Travel_Rarely        359
                          139    30        No      Travel_Rarely       1240
                          453    26       Yes  Travel_Frequently        426
                          350    42        No      Travel_Rarely        544
                          1228   41        No         Non-Travel        552
                          1297   26       Yes      Travel_Rarely        920
                          422    19       Yes      Travel_Rarely        489
                          1411   25        No      Travel_Rarely        309
Manufacturing Director    85     56        No      Travel_Rarely       1400
                          846    35        No      Travel_Rarely        819
                          1164   40        No      Travel_Rarely        448
                          1296   30        No      Travel_Rarely       1092
                          1037   45        No      Travel_Rarely       1448
                          1175   39        No      Travel_Rarely        492
                          604    42        No      Travel_Rarely        933
                          809    28        No      Travel_Rarely        950
                          1148   39        No      Travel_Rarely       1387
                          448    40        No      Travel_Rarely        302

                                            Department  DistanceFromHome  \
JobRole
Healthcare Representative 529   Research & Development                 1
                          1138  Research & Development                20
                          88    Research & Development                 2
                          715   Research & Development                 1
                          694   Research & Development                 1
                          942   Research & Development                10
                          1250  Research & Development                 1
                          1298  Research & Development                21
                          284   Research & Development                11
                          674   Research & Development                 5
Manager                   858   Research & Development                 7
                          936   Research & Development                25
                          417                    Sales                 2
                          237                    Sales                 2
                          701                    Sales                 2
                          112          Human Resources                26
                          999          Human Resources                10
                          435   Research & Development                15
                          804   Research & Development                 1
                          916                    Sales                 4
Human Resources           1450         Human Resources                26
                          1246         Human Resources                 8
                          1312         Human Resources                18
                          139          Human Resources                 9
                          453          Human Resources                17
                          350          Human Resources                 2
                          1228         Human Resources                 4
                          1297         Human Resources                20
                          422          Human Resources                 2
                          1411         Human Resources                 2
Manufacturing Director    85    Research & Development                 7
                          846   Research & Development                 2
                          1164  Research & Development                16
                          1296  Research & Development                10
                          1037  Research & Development                29
                          1175  Research & Development                12
                          604   Research & Development                29
                          809   Research & Development                 3
                          1148  Research & Development                10
                          448   Research & Development                 6

                                Education    EducationField  EmployeeCount  \
JobRole
Healthcare Representative 529           4     Life Sciences              1
                          1138          5           Medical              1
                          88            3     Life Sciences              1
                          715           4             Other              1
                          694           3     Life Sciences              1
                          942           4  Technical Degree              1
                          1250          3     Life Sciences              1
                          1298          2           Medical              1
                          284           2           Medical              1
                          674           3  Technical Degree              1
Manager                   858           2           Medical              1
                          936           3           Medical              1
                          417           4     Life Sciences              1
                          237           4     Life Sciences              1
                          701           2           Medical              1
                          112           3   Human Resources              1
                          999           3   Human Resources              1
                          435           1           Medical              1
                          804           4           Medical              1
                          916           2         Marketing              1
Human Resources           1450          4     Life Sciences              1
                          1246          3   Human Resources              1
                          1312          5   Human Resources              1
                          139           3   Human Resources              1
                          453           4     Life Sciences              1
                          350           1  Technical Degree              1
                          1228          3   Human Resources              1
                          1297          2           Medical              1
                          422           2  Technical Degree              1
                          1411          3   Human Resources              1
Manufacturing Director    85            3     Life Sciences              1
                          846           3     Life Sciences              1
                          1164          3     Life Sciences              1
                          1296          3           Medical              1
                          1037          3  Technical Degree              1
                          1175          3           Medical              1
                          604           3     Life Sciences              1
                          809           3           Medical              1
                          1148          5           Medical              1
                          448           3     Life Sciences              1

                                EmployeeNumber  ...  RelationshipSatisfaction  \
JobRole                                         ...
Healthcare Representative 529              724  ...                         3
                          1138            1606  ...                         3
                          88               117  ...                         1
                          715              998  ...                         1
                          694              969  ...                         1
                          942             1312  ...                         1
                          1250            1753  ...                         4
                          1298            1821  ...                         4
                          284              390  ...                         3
                          674              940  ...                         4
Manager                   858             1201  ...                         2
                          936             1306  ...                         3
                          417              558  ...                         4
                          237              329  ...                         4
                          701              981  ...                         3
                          112              148  ...                         3
                          999             1408  ...                         3
                          435              582  ...                         4
                          804             1116  ...                         3
                          916             1280  ...                         3
Human Resources           1450            2040  ...                         3
                          1246            1747  ...                         3
                          1312            1842  ...                         3
                          139              184  ...                         4
                          453              608  ...                         2
                          350              470  ...                         3
                          1228            1722  ...                         2
                          1297            1818  ...                         3
                          422              566  ...                         3
                          1411            1987  ...                         3
Manufacturing Director    85               112  ...                         1
                          846             1182  ...                         2
                          1164            1641  ...                         4
                          1296            1816  ...                         2
                          1037            1465  ...                         4
                          1175            1654  ...                         3
                          604              836  ...                         4
                          809             1121  ...                         2
                          1148            1618  ...                         4
                          448              601  ...                         3

                               StandardHours  StockOptionLevel  \
JobRole
Healthcare Representative 529             80                 0
                          1138            80                 1
                          88              80                 3
                          715             80                 1
                          694             80                 0
                          942             80                 0
                          1250            80                 0
                          1298            80                 1
                          284             80                 1
                          674             80                 1
Manager                   858             80                 1
                          936             80                 0
                          417             80                 0
                          237             80                 0
                          701             80                 1
                          112             80                 0
                          999             80                 1
                          435             80                 0
                          804             80                 0
                          916             80                 1
Human Resources           1450            80                 0
                          1246            80                 1
                          1312            80                 0
                          139             80                 0
                          453             80                 1
                          350             80                 1
                          1228            80                 1
                          1297            80                 0
                          422             80                 0
                          1411            80                 0
Manufacturing Director    85              80                 0
                          846             80                 1
                          1164            80                 0
                          1296            80                 0
                          1037            80                 2
                          1175            80                 0
                          604             80                 1
                          809             80                 3
                          1148            80                 3
                          448             80                 0

                                TotalWorkingYears  TrainingTimesLastYear  \
JobRole
Healthcare Representative 529                  10                      4
                          1138                 32                      3
                          88                   11                      3
                          715                   6                      2
                          694                   6                      3
                          942                  10                      0
                          1250                 10                      5
                          1298                 13                      2
                          284                   5                      3
                          674                  24                      3
Manager                   858                  26                      6
                          936                  22                      4
                          417                  21                      2
                          237                  33                      2
                          701                  22                      3
                          112                  23                      3
                          999                  21                      5
                          435                  15                      2
                          804                  27                      3
                          916                  26                      2
Human Resources           1450                  9                      2
                          1246                  6                      0
                          1312                  2                      4
                          139                  12                      2
                          453                   8                      2
                          350                   4                      5
                          1228                 10                      4
                          1297                  6                      3
                          422                   1                      3
                          1411                  6                      3
Manufacturing Director    85                   37                      3
                          846                  15                      2
                          1164                 18                      2
                          1296                  9                      3
                          1037                 10                      4
                          1175                  7                      3
                          604                  10                      3
                          809                  10                      3
                          1148                 10                      3
                          448                  22                      3

                               WorkLifeBalance  YearsAtCompany  \
JobRole
Healthcare Representative 529                2               9
                          1138               3              30
                          88                 3              11
                          715                3               6
                          694                3               5
                          942                3               7
                          1250               4               3
                          1298               4               9
                          284                3               5
                          674                3               6
Manager                   858                3               7
                          936                3               0
                          417                3              20
                          237                4              33
                          701                4              17
                          112                3               5
                          999                3              20
                          435                4               7
                          804                2               5
                          916                3              11
Human Resources           1450               3               9
                          1246               2               4
                          1312               3               1
                          139                1              11
                          453                2               7
                          350                3               3
                          1228               3               3
                          1297               3               5
                          422                4               1

ex5: Load the dataset and find the most common gender and birth country
* Load the dataset into a DataFrame using pandas and then extract the top values from sex and birth_country.

In [18]:
nobel_laureates = pd.read_csv('../data/nobel_laureates_data.csv')
nobel_laureates
most_common_gender = nobel_laureates['gender'].value_counts().idxmax()
most_common_birth_country = nobel_laureates['bornCountry'].value_counts().idxmax()
most_common_gender, most_common_birth_country

('male', 'USA')

ex6: Identify the decade with the highest proportion of US-born winners
* To calculate the proportion, first create a column that creates a flag for winners whose birth country is "United States of America", then create a decade column, and use both to find the proportion.

In [19]:
US_born = nobel_laureates[nobel_laureates['bornCountry'] == 'USA']
Proportion_US = len(US_born) / len(nobel_laureates)*100
print('Tá» lá» ngÆ°á»i Äoáº¡t giáº£i Nobel sinh ra táº¡i Má»¹:', Proportion_US, '%')

Tá» lá» ngÆ°á»i Äoáº¡t giáº£i Nobel sinh ra táº¡i Má»¹: 29.2 %

ex7: Find the decade and category with the highest proportion of female laureates
* You can copy and modify your code from the previous tasks to create a DataFrame for the proportion of female winners, then create a dictionary called max_female_dict with the year and category pair with the most female winners.

ex8: Find first woman to win a Nobel Prize
* Filter the DataFrame for the rows with Female winners and find the earliest year and corresponding category in this subset.

ex9: Determine repeat winners
* Count the number of times each winner has won, then select those with counts of two or more, saving the full names as a list called repeats.